[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
	branch = smp
[submodule "pico-extras"]
	path = pico-extras
	url = https://github.com/raspberrypi/pico-extras
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus
